@font-face {
  font-family: fuenteTitle;
  src: url(../fonts/OxfordStreet.ttf);
}
@font-face {
  font-family: fuenteLista;
  src: url(../fonts/04B_30__.TTF);
}
@font-face {
  font-family: fuenteDesc;
  src: url(../fonts/upheavtt.ttf);
}
@font-face {
  font-family: fuenteCard;
  src: url(../fonts/Pixel-UniCode.ttf);
}
@font-face {
  font-family: fuenteNav;
  src: url(../fonts/superstar_memesbruh03.ttf);
}
@font-face {
  font-family: fuenteNav2;
  src: url(../fonts/Chickens\ Lovers.ttf);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #f7ccff;
}

nav {
  background-color: #cb6fdb;
  font-family: fuenteNav;
}
nav span {
  font-size: 1.5em;
  font-family: fuenteNav;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 0 0 5px #000;
}
nav ul li a {
  color: white !important;
  font-size: 1.5em !important;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 0 0 5px #000;
}
nav ul li .inhabilitado {
  text-decoration: line-through !important;
  color: red !important;
}
nav ul li a:hover {
  background-color: #e492f3;
}

.item {
  height: 450px !important;
  width: 100% !important;
  background-position: center;
  background-size: cover;
}

.item1 {
  background-image: url(../img/carrusel1.jpg);
}

.item2 {
  background-image: url(../img/carrusel2.jpg);
}

.item3 {
  background-image: url(../img/carrusel3.jpg);
}

h1 {
  margin-top: 70px;
  font-family: fuenteLista;
  text-align: center;
  justify-content: center;
  color: #cb6fdb;
  font-style: italic;
  text-shadow: -1px -2px 2px rgb(255, 255, 255), 0 0 5px #eda0ed;
  font-size: 3em;
}

.list-group .list-group-item {
  background-color: #e492f3;
  border-color: #FCEDFF;
}
.list-group .titulo {
  background-color: #cb6fdb;
  color: rgb(255, 215, 254);
  text-align: center;
  justify-content: center;
  font-family: fuenteCard;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 0 0 5px #000;
  font-size: 2em;
  padding: 30px;
}
.list-group .info {
  font-family: fuenteCard;
  color: rgb(255, 215, 254);
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  padding: 15px;
  text-shadow: 0 0 5px #000, 0 0 5px #000;
}
.list-group .info:hover {
  color: white;
  background-color: #e0a5ee;
}

.card-body {
  background-color: #e492f3;
}
.card-body a {
  background-color: #cb6fdb;
  border: 2px solid white;
  font-family: fuenteDesc;
}
.card-body a:hover {
  background-color: #e0a5ee;
  border: 2px solid #cb6fdb;
}
.card-body .card-title {
  font-family: fuenteCard;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 5px #000, 0 0 5px #000;
}
.card-body .card-text {
  font-family: fuenteCard;
  font-size: 1.5em;
  text-shadow: 0 0 5px #838282, 0 0 5px #5d5c5c;
}

.calidad-info {
  background-color: rgba(228, 146, 243, 0.3);
  border-radius: 10px;
  padding: 20px;
}
.calidad-info h2 {
  font-size: 2em;
  font-family: fuenteNav;
  color: white;
  text-shadow: 0 0 5px #000, 0 0 5px #000;
}
.calidad-info p {
  font-family: fuenteCard;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgb(154, 154, 154);
}

@media screen and (max-width: 660px) {
  nav span {
    font-size: 1.2em;
  }
  nav ul li a {
    font-size: 1.2em !important;
  }
}
@media screen and (max-width: 540px) {
  nav span {
    font-size: 0.62em;
  }
  nav ul li a {
    font-size: 0.62em !important;
  }
  h1 {
    font-size: 2em;
  }
}
.pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  margin: 0 auto;
}

header {
  background-color: #e492f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  padding-top: 3.2rem;
  animation-name: bottom-top;
  animation-duration: 1s;
}

header img {
  max-width: 21rem;
  height: 16.7rem;
}

header .titleContainer {
  width: 100%;
  height: 7rem;
  min-height: 7rem;
  background-color: #cb6fdb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContainer h1 {
  font-size: 4.8rem;
  line-height: 3.4rem;
  font-family: fuenteCard, cursive;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.headerDescriptionContainer {
  padding-bottom: 12.5rem;
  color: white;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDescriptionContainer p {
  width: 77%;
  font-family: fuenteCard;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: white;
}

main {
  background-color: #e492f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20% 10% 20%;
}

main .wrapper {
  width: 100%;
  margin-bottom: 5rem;
  animation-name: rigth-left;
  animation-duration: 1s;
}

.marginB-32 {
  margin-bottom: 3.2rem;
}

.wrapper .mainImagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImagesContainer > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}

.mainImagesContainer > img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

@media (max-width: 90rem) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 144rem) {
  header {
    padding-bottom: 10rem;
  }
  .headerDescriptionContainer p {
    font-size: 1.6rem;
  }
}
@media (min-width: 38rem) {
  .pageContainer {
    margin: 0;
    max-width: 400rem;
  }
}
@media (min-width: 90rem) {
  .pageContainer {
    flex-direction: row;
  }
  header {
    min-width: 38rem;
    max-width: 30%;
    height: 100%;
  }
  .titleContainer {
    height: 7rem;
  }
  main {
    padding: 5rem 9rem;
    display: flex;
  }
  #picoles,
  #massas,
  #paletas,
  #sorvetes,
  #shakes,
  #zero {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    min-width: 22rem;
  }
  .wrapper {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-areas: "a b e" "d b f" "d c f";
    gap: 3.2rem;
  }
  .wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #a {
    grid-area: a;
  }
  #b {
    grid-area: b;
  }
  #c {
    grid-area: c;
  }
  #d {
    grid-area: d;
  }
  #e {
    grid-area: e;
  }
  #f {
    grid-area: f;
  }
}
@media (min-width: 144rem) {
  header .titleContainer {
    height: 15rem;
  }
  .titleContainer h1 {
    font-size: 8rem;
  }
  .headerDescriptionContainer p {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 200rem) {
  header .titleContainer {
    height: 25rem;
  }
  .titleContainer h1 {
    font-size: 12rem;
  }
  .headerDescriptionContainer p {
    font-size: 4.8rem;
    line-height: 6rem;
  }
}
@keyframes rigth-left {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bottom-top {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=estilos.css.map */